#contenido
{
background-color:blue;
height: 300px;
width: 800px;
margin:0 auto;/*auto para cualquier resolucion*/

border-right: solid;
border-left: solid;
border-width: 1px;
border-color: red;


}

body
{

margin-right:0px; 
margin-top:0px;
margin-left: 0px;
margin-right: 0px;
text-align: center;

}

nav ul li
{
	margin-left: 20px;
float:left;

}

/*el ancho de la pagina no concuerda
 con el contenedor, hay franjas
eliminar esa franja
 */